/* src/components/EditorStyles.css */
.btn {
  padding: 4px 10px;
  background-color: #f3f4f6;
  border-radius: 5px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #e5e7eb;
}

.active-btn {
  @apply btn;
  background-color: #6366f1;
  color: white;
  border-color: #4f46e5;
}

